<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiwang.jxw" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />


    <!-- Required -->
    <permission android:name="com.xiwang.jxw.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />


    <!--极光推送 Required -->
    <uses-permission android:name="com.xiwang.jxw.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->

    <!-- 申明权限  访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".config.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.StartAppActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- 退出Activity -->
        <activity
            android:name=".activity.ExitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />

        <!-- 新闻详情 -->
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- 租房详情 -->
        <activity
            android:name=".activity.RentalActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme" >
        </activity>



        <!-- 新闻详情 -->
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- 租房房产 -->
        <activity
            android:name=".activity.HouseActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- 登录Activity -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>

        <!-- 注册Activity -->
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_login"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>


        <!-- 发布Activity -->
        <activity
            android:name=".activity.ApplyWorkActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>




        <!-- 选择多张图片 -->
        <activity
            android:name=".activity.PickOrTakeImageActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>

        <!-- 选择多张图片预览效果 -->
        <activity
            android:name=".activity.PickBigImagesActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>

        <!-- 服务协议 -->
        <activity
            android:name=".activity.ServiceProtocolActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>


        <!-- 发帖 -->
        <activity
            android:name=".activity.PublishNewsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
             >
        </activity>

        <!-- 新闻图片集合 -->
        <activity
            android:name=".activity.NewsImagesActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>


        <!-- 点赞列表 -->
        <activity
            android:name=".activity.DigUsersActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login" >
        </activity>





        <!-- 监听网络变化广播 -->
        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <!--*************************************************Jpush************************************-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xiwang.jxw" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>



        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.xiwang.jxw" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.xiwang.jxw" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.xiwang.jxw.receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.xiwang.jxw" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Jpush Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="525be52862057ccef633449d"/>

        <!--Umeng统计-->
        <meta-data android:value="569615b6e0f55aeacf000acb" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="android" android:name="UMENG_CHANNEL"/>

    </application>
</manifest>
